<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--该文件是对哪个接口的映射，未配置别名时要写接口全类名-->
<mapper namespace="com.mybatis.mapper.EmployeeMapper">
    <!--id为方法名，resultType为返回类型，未配置别名时要写bean的全类名-->
    <select id="getAllEmp" resultType="com.mybatis.bean.Employee">
        select * from employees
    </select>


</mapper>