<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.mianshiya.mapper.MockInterviewMapper">

    <resultMap id="BaseResultMap" type="com.yupi.mianshiya.model.entity.MockInterview">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workExperience" column="workExperience" jdbcType="VARCHAR"/>
            <result property="jobPosition" column="jobPosition" jdbcType="VARCHAR"/>
            <result property="difficulty" column="difficulty" jdbcType="VARCHAR"/>
            <result property="messages" column="messages" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,workExperience,jobPosition,
        difficulty,messages,status,
        userId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
